::selection {
    color: white;
    background: $logoColor;
}

* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}
h1,h2,h3,h4,h5,h6,p { margin: 0; }
a { text-decoration: none; color: inherit; }

.container {
    width: 1140px;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .container { width: 960px; }
}
@media screen and (max-width: 992px) {
    .container { width: 720px; }
}
@media screen and (max-width: 768px) {
    .container { width: 540px; }
}
@media screen and (max-width: 576px) {
    .container { width: auto; }
}