@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,500,700');

// GENERAL
$dark: #212121;
$light: #FAFAFA;
$logoColor: #d90119;
$mainColor: #F44336;

// COLORS
$lightPrimary: rgba(0,0,0,0.87);
$lightSecondary: rgba(0,0,0,0.54);
$lightDisabled: rgba(0,0,0,0.38);
$lightBackground: #EEEEEE;

$darkPrimary: rgba(255,255,255,1);
$darkSecondary: rgba(255,255,255,0.7);
$darkDisabled: rgba(255,255,255,0.3);
$darkBackground: #212121;

// FONTS
$headlineSize: 24px; $headlineWeight: 400;
$titleSize: 20px; $titleWeight: 500;
$subheaderSize: 16px; $subheaderWeight: 400;
$menuSize: 14px; $menuWeight: 500;
$bodySize: 14px; $bodyWeight: 400;
$captionSize: 12px; $captionWeight: 400;
$buttonSize: 14px; $buttonWeight: 700;